<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="bg-blue-200"> <!-- Apply light blue background to the entire page -->
    <main class="w-full h-full font-[Helvetica] pt-10"> <!-- Set main to fill the height -->
        <nav class="flex items-center px-2 py-1 fixed top-0 w-full bg-blue-300 shadow-md">
            <h3 class="tracking-tight pl-0 text-sm">Collection Book</h3>
            <div class="navlink flex gap-5 ml-auto">
                <a class="text-sm tracking-tight hover:text-red-500 transition duration-300" href="/">Home</a>
                <a class="text-sm tracking-tight hover:text-red-500 transition duration-300" href="/create">Create</a>
            </div>
        </nav>   
        <div class="px-1 collection">
            <h3 class="capitalize font-medium mb-0  tracking-tight text-center">All Collection</h3> 
            <form class="" action="/createcollection" method="post">
                <input name="title" class="text-md w-20% h-5% mb-1 roundec-md bg-zinc-200 " type="text" placeholder="Collection Title...">
                <textarea name="content" class="block w-20% h-30% resize-none bg-zinc-200 rounded-md" placeholder="write here..."></textarea>
                <input type="submit" class="block mt-2 rounded-md  bg-blue-500 text-white" value="Create Collection">

            </form>
        </div>

    </main>
</body>
</html>