<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="bg-blue-200"> <!-- Apply light blue background to the entire page -->
    <main class="w-full h-full font-[Helvetica] pt-10"> <!-- Set main to fill the height -->
        <nav class="flex items-center px-2 py-1 fixed top-0 w-full bg-blue-300 shadow-md">
            <h3 class="tracking-tight pl-0 text-sm">Collection Book</h3>
            <div class="navlink flex gap-5 ml-auto">
                <a class="text-sm tracking-tight hover:text-red-500 transition duration-300" href="/">Home</a>
                <a class="text-sm tracking-tight hover:text-red-500 transition duration-300" href="/create">Create</a>
            </div>
        </nav>  
    <div class="px-0 collection mt-3"> <!-- Content area starts below navbar -->
        <h2 class="capitalize text-xl font-medium mb-2 tracking-tight text-center">Daily Data Collection</h2>  
        <% if (files.length > 0) { %>
            <div class="flex flex-col gap-1 items-center">
                <div class="flex flex-col gap-2 items-center">
                    <% files.forEach(function(file) { %>
                        <div class="w-55 bg-blue-400 text-white flex items-center rounded-lg shadow-md px-1 py-0">
                            <h3 class="text-lg font-medium flex items-center">
                                <%= file.split(".")[0] %>  </h3>
                                <a href="/collection/<%= file %>">
                                    <i class="ri-arrow-right-line w-4 h-4 ml-1 text-blue-500 flex items-center justify-center bg-gray-200 hover:bg-blue-200 rounded-lg transition duration-200 ease-in-out"></i>
                                </a>
                                <a href="/edit/<%= file %>">
                                    <i class="ri-pencil-line text-lg ml-6 text-white"></i>
                                </a>
                                <a href="/delete/<%= file %>">
                                    <i class="ri-delete-bin-line text-sm ml-1 text-red-500 bg-white p-0.5 rounded-full"></i>
                                </a>
                                                                
                        </div>
                    <% }) %>
                </div>
                              
            </div>            
        <% } else { %>
            <h3 class="text-zinc-500 text-center">Currently nothing to show, create a collection to see something</h3>
        <% } %>
    </div>
    </main>
</body>
</html>
