<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- for get API -->
   <!-- <form action="/check">
    <input type="name" placeholder="enter name" name="name">
    <input type="email" placeholder="enter email" name="email">
    <input type="submit">
   </form> -->

   <!-- for post api -->
   <form action="/checks" method="post">
    <input type="name" placeholder="enter name" name="name">
    <input type="email" placeholder="enter email" name="email">
    <input type="password" placeholder="enter password" name="password">
    <input type="submit">
   </form>
</body>
</html>